body > div,
body > div > div,
body > div > div > div {
  height: 100%;
}

body, html {
  margin: auto;
  background-image: url(../assets/package-blur.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.ui.buttons {
  width: 100%
}

.index-button {
  float: left;
}

.label-align {
  float: left;
  padding-left: 5px;
}

.form-wrapper {
  background-color: #eee;
  padding-bottom: 28px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

#root > div > div > div.ui.secondary.menu {
  background: #e0e1e2;
}

#root > div > div > form.ui.form {
  background: white;
  padding: 15px;
  border-radius: 10px;
}
